@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
    background-color: #E3E0DB;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

.theBulk {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-transition-animation-duration: 1s;
}