@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Lobster|Lobster+Two');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

/*BACKGROUND IMAGE:*/
html { 

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

#back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -100;
    background-size: cover;
    background-attachment: fixed;
}
/*END BACKGROUND IMAGE*/



/*FONT COLOR, ALT. BACKGROUND IMAGE*/
body {
    /*background-image: url('Images/homepage-salad-darker.png');*/
    color: #FFFFF0;
}

/*FONT FAMILY*/
.lobster-font {
    font-family: 'Lobster', cursive;
}

/*CUSTOM JUMBO DIV (NOT A REAL JUMBO)*/
.testDiv {
    border-radius: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 100px;
}

/*H1 FONT SIZE IN .TESTDIV*/
.testDiv h1 {
    font-size: 110px;
}

/*P FONT SIZE IN .TESTDIV*/
.testDiv p {
    font-size: 35px;
}

/*HIDES THE TEXT BEFORE FADEIN()*/
.hide-before-fade {
    display:none;
}

/*SLIDING LINE ON HOME PAGE*/
#box2 {
    margin-top:40px;
    background:white;
    height:2px;
    width:0%;
    margin:0px;
    margin-left:25%;
}

#panel {
    padding: 50px;
}