/*BACKGROUND IMAGE:*/
html { 
    height:100%;
}

#back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -100;
    background-size: 100%;
}

.reviewDisplay {
    color: white;
    background-color: rgba(0,0,0,.5);
    margin-bottom: 2em;
    padding: 1em 3em;
}

.appended{
    margin-top: 1em;
}

.darkerBackground{
    border: 1px inset black;
    border-radius: 10px;
    background-color: rgba(0,0,0,.6);
    padding: 1em 1em;
}

.btn{
      background-color: rgba(0,0,0,.6);
      color: white;
      border: 1px outset white;
}

.btn a{
    color: white;
}

.smallMarginTopBottom{
    margin-top: 2em;
    margin-bottom: 2em;

}

.mediumMarginTopBottom{
    margin-top: 4em;
    margin-bottom: 4em;
}

.smallMarginBottom{
    margin-bottom: 2em;
}

.paddedButton{
    padding-right: 4em;
    padding-left: 4em;
}