@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Lobster|Lobster+Two');

/* BACKGROUND IMAGE w/custom jQuery: */
html { 
    height:100%;
}
#back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -100;
    background-size: 100%;
}
/* END BACKGROUND IMAGE */


/* FONT FAMILY */
.lobster-font {
    font-family: 'Lobster', cursive;
}
/* END FONT FAMILY*/

/* ANIMATED TITLE */
#aboutUsTitle {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-transition-animation-duration: 2s;
}
/* END ANIMATED TITLE */

body {
    background-color: #E3E0DB;
}

.photo-banner {
    height: 75%;
    width: 100%;
}

.about-paragraph-and-image-links-row {
    height: 400px;
}

.about-paragraph {
    position: relative;
    float: left;
}

.image-link-1 {
    height: 200px;
}

.image-link-2 {
    height: 200px;
}