@*@{
    ViewBag.Title = "About Us";
}*@


@*Custom CSS:*@
<link href="~/Content/custom-aboutpage.css" rel="stylesheet" />

@*Custom jQuery:*@
<script src="~/Scripts/custom-jquery-about.js"></script>

@*Background fade-in image:*@
<div id="back"></div>