@{
    ViewBag.Title = "About Us";
}

@*ADDED ANIMATE.CSS BY DANE EDEN*@
<link href="~/Content/animate.css" rel="stylesheet" />

@*CUSTOM CSS:*@
<link href="~/Content/Site_About.css" rel="stylesheet" />

@*CUSTOM JQUERY:*@
<script src="~/Scripts/custom-jquery-about.js"></script>

@*BACKGROUND FADE-IN IMAGE:*@
<div id="back"></div>

<center>
    <div class="animated fadeInDown lobster-font" id="aboutUsTitle"><h1>Our Story</h1></div>
</center>


<div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 animated bounceInRight" id="Liberty">
                <div class="col-sm-6">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis turpis augue, ac fermentum sapien ultricies ac. Quisque auctor, mauris accumsan vestibulum sagittis, quam nibh scelerisque mi, a facilisis libero elit eu justo. Proin erat lectus, scelerisque sed ullamcorper at, cursus ut velit. In hac habitasse platea dictumst. Phasellus sollicitudin nunc purus, nec ultricies lectus sagittis id. Sed suscipit, diam ut facilisis luctus, lorem arcu condimentum nisl, eget mollis quam enim nec dui. Etiam commodo vestibulum ex eget congue. Maecenas ac tortor nisl. Vestibulum euismod, augue at pulvinar rhoncus, nulla sapien imperdiet dolor, id sollicitudin ex nisl vel augue. Nam vulputate elit sit amet sollicitudin sagittis. Integer eu tellus non neque malesuada iaculis et vitae libero. Fusce tellus quam, semper in porttitor at, accumsan volutpat turpis. Nam elementum ornare lacinia. Praesent ac fermentum dui. Nunc semper finibus tempus. Phasellus imperdiet tristique elit lobortis suscipit.
                    </p>
                </div>
                <div class="col-sm-6">

                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 animated bounceInRight" id="Greg">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6">
                    <p>
                        Aliquam in leo tincidunt, lacinia dolor at, pulvinar magna. Nulla sed ligula vitae orci dictum luctus vel sed sapien. Mauris tincidunt et risus sit amet volutpat. Proin ultricies, risus a hendrerit scelerisque, turpis tortor fringilla elit, ac molestie tellus nisi id risus. Vivamus nec mauris leo. Nam auctor, lectus eget imperdiet porttitor, augue dui iaculis massa, et consectetur turpis ex in ex. Aenean non pulvinar sem, nec accumsan mauris. Etiam ac dui quis tortor tincidunt gravida. Proin tincidunt ut massa non semper. Nunc sollicitudin, nibh ut volutpat consectetur, orci ipsum porta orci, non tempus est tortor et sem. Nullam tempus purus sit amet dolor suscipit varius quis nec nunc. Aliquam ac mi lorem. Cras ultricies ultrices lorem, et finibus nulla luctus id.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 animated bounceInRight" id="Megan">
                <div class="col-sm-6">
                <p>
                    Integer molestie nisi sed hendrerit varius. Donec elementum consequat viverra. Quisque convallis, magna et blandit egestas, eros ex tristique ex, non consectetur orci odio sit amet ligula. Vestibulum urna nisl, eleifend at est non, pulvinar aliquam mi. Cras eget ipsum nec ipsum interdum laoreet. Pellentesque eget augue ante. Duis sit amet scelerisque dui. Donec at ex metus. Mauris laoreet ut nibh in fermentum. Aenean odio felis, dapibus sit amet ultricies id, ultricies eget mauris. Mauris aliquet nibh accumsan ipsum suscipit, nec semper enim vulputate. Ut vitae vehicula metus. Sed a elit vitae erat viverra semper. Nam ullamcorper enim sit amet leo porttitor iaculis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis eget ultrices ligula.
                </p>
                </div>  
                <div class="col-sm-6">

                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 animated bounceInRight" id="Anthony">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6">
                    <p>
                        Nullam luctus consectetur aliquam. Phasellus id nisl feugiat dui lobortis tincidunt. Etiam sollicitudin nibh eget feugiat sagittis. Nulla feugiat mauris dolor, non aliquam felis gravida vel. Ut nec magna quam. Fusce sollicitudin vulputate ante sed pharetra. Nunc id pharetra enim. Suspendisse urna ligula, euismod eget ligula ut, eleifend suscipit lectus. Sed ac rutrum tortor. Maecenas et feugiat ante. Vivamus sodales orci eget enim viverra, in rutrum magna mattis. Cras ullamcorper justo ac porta hendrerit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis quis porttitor eros.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>




