@{
    ViewBag.Title = "About Us";
}


@*CUSTOM CSS:*@
<link href="~/Content/Site_About.css" rel="stylesheet" />

@*CUSTOM JQUERY:*@
<script src="~/Scripts/custom-jquery-about.js"></script>

@*BACKGROUND FADE-IN IMAGE:*@
<div id="back"></div>

<div id="Megan">
    TEST
</div>
<div id="Greg">
    TEST
</div>
<div id="Anthony">
    TEST
</div>
<div id="Liberty">
    TEST
</div>