@{
    ViewBag.Title = "About Us";
}

@*ADDED ANIMATE.CSS BY DANE EDEN*@
<link href="~/Content/animate.css" rel="stylesheet" />

@*CUSTOM CSS:*@
<link href="~/Content/Site_About.css" rel="stylesheet" />

@*CUSTOM JQUERY:*@
<script src="~/Scripts/custom-jquery-about.js"></script>

@*BACKGROUND FADE-IN IMAGE:*@
<div id="back"></div>

<center>
    <div class="animated fadeInDown lobster-font" id="aboutUsTitle"><h1>Our Story</h1></div>
</center>


<div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 animated bounceInRight" id="Liberty">
                <div class="col-sm-6">
                    <h3>Liberty Wesley</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis turpis augue, ac fermentum sapien.
                    </p>
                </div>
                <div class="col-sm-6">
                    <center><img src="~/Content/Images/Liberty.jpg" class="profileImage"/></center>
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 animated bounceInRight" id="Greg">
                <div class="col-sm-6">
                    <center><img src="~/Content/Images/Greg.jpg" class="profileImage" /></center>
                </div>
                <div class="col-sm-6">
                    <h3>Greg Moten, Jr.</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis turpis augue, ac fermentum sapien.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 animated bounceInRight" id="Megan">
                <div class="col-sm-6">
                    <h3>Megan Korpics</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis turpis augue, ac fermentum sapien.
                </p>
                </div>  
                <div class="col-sm-6">
                    <center><img src="~/Content/Images/Megan.jpg" class="profileImage" /></center>
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 animated bounceInRight" id="Anthony">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6">
                    <h3>Anthony Sulezich</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis turpis augue, ac fermentum sapien.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>




