@{
    ViewBag.Title = "About Us";
}

@*ADDED ANIMATE.CSS BY DANE EDEN*@
<link href="~/Content/animate.css" rel="stylesheet" />

@*CUSTOM CSS:*@
<link href="~/Content/Site_About.css" rel="stylesheet" />

@*CUSTOM JQUERY:*@
<script src="~/Scripts/custom-jquery-about.js"></script>

@*BACKGROUND FADE-IN IMAGE:*@
<div id="back"></div>

<center>
    <div class="animated fadeInDown lobster-font" id="aboutUsTitle"><h1>Our Story</h1></div>
</center>

<div>
    <div id="Liberty">
        <p class="animated bounceInRight">
            TEST
        </p>
    </div>
    <div id="Greg">
        <p class="animated bounceInRight" >
            TEST
        </p>
    </div>
    <div id="Megan">
        <p class="animated bounceInRight">
            TEST
        </p>
    </div>
    <div id="Anthony">
        <p class="animated bounceInRight">
            TEST
        </p>
    </div>
</div>

