@*@{
    ViewBag.Title = "About Us";
}*@
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
@*<p>Use this area to provide additional information.</p>*@

@*Custom CSS:*@
<link href="~/Content/custom-aboutpage.css" rel="stylesheet" />

@*Custom jQuery:*@
<script src="~/Scripts/custom-jquery-about.js"></script>

@*Background fade-in image:*@
<div id="back"></div>