@{
    ViewBag.Title = "About Us";
}

<h1>About Us</h1>
<div class="aboutUsGrid" id="aboutUsGrid">
    <div class="row">
        <div class="col-sm-6">
            MEGAN KORPICS
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in posuere tortor, eget volutpat metus. Duis nec turpis ut mauris sagittis scelerisque ut vel est. In urna dui, facilisis a euismod nec, tincidunt quis leo. Donec ac suscipit elit, quis convallis tellus. Aenean sit amet sem eleifend, dapibus arcu eu, molestie libero. Maecenas ac ligula eget magna sodales luctus. Maecenas fringilla eros a enim fringilla eleifend. Donec nec condimentum libero. Aliquam ac eros quis massa rutrum placerat. Duis nec pretium odio. Etiam leo sapien, ultrices vel elit ut, tincidunt semper purus. Maecenas vitae sem dui.
        </div>
        <div class="col-sm-6">
            GREG MOTEN, JR.
            Proin diam ex, consequat sit amet ullamcorper nec, dictum non ligula. Fusce mollis, sem at congue efficitur, orci justo volutpat nulla, eget lobortis lacus sem sed sapien. Integer sed accumsan metus. Pellentesque vel aliquam sapien. Duis non nibh eleifend, dignissim sapien sed, accumsan ante. Nam lobortis elit tincidunt, porttitor leo in, sodales urna. Curabitur arcu eros, laoreet sit amet scelerisque ut, dapibus eu arcu.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            ANTHONY SULEZICH
            Nullam sollicitudin cursus nulla, sed finibus nunc efficitur eget. Donec aliquam, dui eget ullamcorper ultrices, mauris sem lobortis arcu, id cursus velit tellus at nunc. Curabitur fermentum magna ac metus finibus, et semper risus ultrices. Nullam cursus lorem nec suscipit feugiat. Ut sem diam, laoreet a leo sed, congue congue mauris. Praesent in nibh at diam posuere molestie vitae pellentesque neque. Suspendisse volutpat consequat diam, nec aliquam mauris pharetra in. In id mauris ac metus blandit luctus et et mauris.
        </div>
        <div class="col-sm-6">
            LIBERTY WESLEY
            Sed aliquam, lorem vitae dictum consequat, eros felis volutpat metus, vitae gravida nisi purus ac neque. Vivamus quis nisl non metus rutrum malesuada id quis lectus. Duis tincidunt lorem at libero efficitur posuere. Nulla volutpat mollis neque, sed eleifend erat placerat quis. Vestibulum erat magna, euismod eu scelerisque in, aliquam nec nibh. Vestibulum venenatis nulla id quam venenatis, vel viverra nisi gravida. Fusce eu sem rutrum, commodo leo quis, commodo lectus. Integer in accumsan massa.
        </div>
    </div>
</div>


@*CUSTOM CSS:*@
<link href="~/Content/Site_About.css" rel="stylesheet" />

@*CUSTOM JQUERY:*@
<script src="~/Scripts/custom-jquery-about.js"></script>

@*BACKGROUND FADE-IN IMAGE:*@
<div id="back"></div>