@{
    ViewBag.Title = "About Us";
}

@*ADDED ANIMATE.CSS BY DANE EDEN*@
<link href="~/Content/animate.css" rel="stylesheet" />

@*CUSTOM CSS:*@
<link href="~/Content/Site_About.css" rel="stylesheet" />

@*CUSTOM JQUERY:*@
<script src="~/Scripts/custom-jquery-about.js"></script>

@*BACKGROUND FADE-IN IMAGE:*@
<div id="back"></div>

<center>
    <div class="animated fadeInDown lobster-font" id="aboutUsTitle"><h1>About Us</h1></div>
</center>

<center>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <!-- BANNER IMAGE -->
            <img src="~/Content/Images/homeIndex_slicedTomatoes.jpg" class="img-responsive photo-banner"/>
        </div>
    </div>

    <div class="row about-paragraph-and-image-links-row">
        <div class="col-sm-9 about-paragraph">
            <!-- ABOUT PARAGRAPH HERE -->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius, nisl at ultrices aliquam,
             eros nulla ornare mi, nec interdum ante nibh nec elit. Donec imperdiet nisl sit amet nibh porta pretium. 
            Quisque cursus, quam vel ullamcorper pharetra, dolor turpis pharetra ante, sit amet malesuada libero quam 
            sed velit. Pellentesque fringilla placerat lorem, vitae egestas urna feugiat vel. Aenean risus urna, tincidunt 
            vel aliquam pretium, rhoncus at eros. Aenean in diam quam. Vestibulum iaculis, mi ut dapibus semper, 
            risus nunc iaculis ante, quis suscipit nunc mauris sit amet massa.</p>
        </div>
        <div class="col-sm-3">
            <div class="row img-responsive">
                <div class="col-sm-12">
                    <!-- RESPONSIVE IMAGE LINK TO RESTAURANTS -->
                    
                </div>
            </div>
            <div class="row img-responsive">
                <div class="col-sm-12">
                    <!-- RESPONSIVE IMAGE LINK TO RESTAURANTS -->
                    <p>RESPONSIVE IMAGE</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <!-- CONTACT INFORMATION FOR STARTMART -->
            <p>CONTACT INFO</p>
        </div>
        <div class="col-sm-9">
            <!-- PHOTO OF STARTMART HERE -->
            <p>PHOTO OF STARTMART</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <!-- IMAGES OR IMAGE CAROUSEL -->
            <p>IMAGE CAROUSEL?</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <!-- MEET THE TEAM -->
            <p>MEET THE TEAM</p>
        </div>
    </div>

    <div class="row">
        <!-- PERSON 1 -->
        <div class="col-sm-6">
            <div class="col-sm-6">
                <!-- PHOTO -->
                <p>PHOTO</p>
            </div>
            <div class="col-sm-6">
                <p>ABOUT</p>
            </div>
        </div>
        <!-- PERSON 2 -->
        <div class="col-sm-6">
            <div class="col-sm-6">
                <!-- PHOTO -->
                <p>PHOTO</p>
            </div>
            <div class="col-sm-6">
                <p>ABOUT</p>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- PERSON 3 -->
        <div class="col-sm-6">
            <div class="col-sm-6">
                <!-- PHOTO -->
                <p>PHOTO</p>
            </div>
            <div class="col-sm-6">
                <p>ABOUT</p>
            </div>
        </div>
        <!-- PERSON 4 -->
        <div class="col-sm-6">
            <div class="col-sm-6">
                <!-- PHOTO -->
                <p>PHOTO</p>
            </div>
            <div class="col-sm-6">
                <p>ABOUT</p>
            </div>
        </div>
    </div>


</div>
</center>



