@{
    ViewBag.Title = "Home Page";
}

@*Custom CSS for home index:*@
<link rel="stylesheet" href="~/Content/custom-homepage.css" />

<div class="container-fluid">
    <div class="jumbotron translucent">
        <h1 class="text-center">Translucent box</h1>
        <p class="lead text-center">Catchphrase? Background: mezze or sliced tomatoes</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row text-center">
        <div class="col-md-4">
            <h2>Example</h2>
            <p>
                abc
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Example</h2>
            <p>
                abc
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Example</h2>
            <p>
                abc
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
</div>
<h1>button below is filestack test</h1>
<!--FILESTACK LIB-->
<script type="text/javascript" src="//static.filestackapi.com/v3/filestack-0.6.3.js"></script>
<script> filepicker.setKey("AbbxbmtG7Qzmx3N6F8qgmz");</script>
<script type="text/javascript">
    var client = filestack.init('AbbxbmtG7Qzmx3N6F8qgmz', { policy: 'policy', signature: 'signature' });
    client.pick(pickerOptions);
</script>

<!--FILESTACK set pick-->
<script>
    uploadImg(){
        filepicker.pick (
              {
                  mimetype: 'image/*',
                  container: 'modal',
                  services: ['COMPUTER', 'FACEBOOK', 'INSTAGRAM', 'URL', 'IMGUR', 'PICASA'],
                  openTo: 'COMPUTER'
              },
              function (Blob) {
                  console.log(JSON.stringify(Blob));
                  handler = Blob.url.substring(Blob.url.lastIndexOf('/') + 1);
                  $('#profile-pic').attr('src', `https://process.filestackapi.com/crop_faces=mode:fill/rounded_corners=radius:${$('.mdl-js-slider').val()}/${handler}`);
              },
              function (FPError) {
                  console.log(FPError.toString());
              }
            );
    }

</script>
<!--FILESTACK BUTTON-->
<script type="text/javascript" src="https://static.filestackapi.com/v3/filestack.js"></script>

<script>
    var client = filestack.init('AbbxbmtG7Qzmx3N6F8qgmz');
    function showPicker() {
        client.pick({
        }).then(function(result) {
            console.log(JSON.stringify(result.filesUploaded))
        });
    }
</script>
<input type="button" value="FileStackButton" onclick="showPicker()" />
<!-- onclick={()=> this.uploadImg() -->