@{
    ViewBag.Title = "Home Page";
}

@*Custom CSS for home index:*@
<link rel="stylesheet" href="~/Content/custom-homepage.css" />

@*Custom jQuery:*@
<script src="~/Scripts/custom-jquery.js"></script>

@*Background fade-in image:*@
<div id="back"></div>
