@{
    ViewBag.Title = "Home";
}

@*Custom CSS for home index:*@
<link rel="stylesheet" href="~/Content/custom-homepage.css" />

@*Custom jQuery file:*@
<script src="~/Scripts/custom-jquery.js"></script>

@*Font Awesome CDN:*@
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<div id="back"></div>
    <div class="container-fluid">
        <div id="testDiv" class="testDiv">
            <h1 class="text-center lobster-font hide-before-fade" id="text1">Can I Eat Here?</h1>
            <br />
            <p class="lead text-center lobster-font hide-before-fade" id="text2">Vegan? Vegetarian? Gluten-free? Find diet-friendly options for you!</p>
            <div class="container-fluid hide-before-fade" id="box2"></div>
            <p class="text-center" id="homepageButtonContainer">
                <button class="btn btn-lg btn-default text-center homepageButton hide-before-fade" id="homepageButton1">@Html.ActionLink("Find Restaurants", "Index", "Restaurants")</button>
                <button class="btn btn-lg btn-default text-center homepageButton hide-before-fade" id="homepageButton2">@Html.ActionLink("Create A Review", "Create", "Reviews")</button>
            </p>
        </div>
    </div>
    <br />
    <br />

