@{
    ViewBag.Title = "Home Page";
}

@*Custom CSS for home index:*@
<link rel="stylesheet" href="~/Content/custom-homepage.css" />

@*Custom jQuery:*@
<script src="~/Scripts/custom-jquery-about.js"></script>

@*Background fade-in image:*@
<div id="back"></div>

<div class="container-fluid">
    <div id="testDiv" class="testDiv">
        <h1 class="text-center lobster-font hide-before-fade" id="text1">Can I Eat Here?</h1>
        <br />
        <p class="lead text-center lobster-font hide-before-fade" id="text2">Find vegetarian options near you!</p>
        <div class="container-fluid hide-before-fade" id="box2"></div>
    </div>
</div>
<br />
<br />